tr.is-editing{
    background-color: #e8edfc;
    box-shadow: 0 0 0 3px #aabffb99;
    transition: background-color 0.2s ease;
}
tr.is-editing input,
tr.is-editing textarea,
tr.is-editing select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #3b82f6;
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: white;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
    transition: border-color 0.2s , box-shadow 0.2s;
}
tr.is-editing input:focus,
tr.is-editing textarea:focus,
tr.is-editing select:focus{
    outline: none;
    background-color: #9dbcff;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}
tr.is-editing .save-btn{
  background-color: #10b981;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

tr.is-editing .save-btn:hover {
  background-color: #059669;
}
tr.is-editing .annul-btn {
  background-color: #6b7280;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
  margin-left: 9px;
}

tr.is-editing .annul-btn:hover {
  background-color: #4b5563;
  
}
